pandas
numpy
scipy
matplotlib
openpyxl
seaborn
statsmodels
scikit-posthocs
pingouin
PyQt5
xlrd
pillow
networkx
requests
packaging
marginaleffects
jinja2
plotly
scikit-learn

# Optional / alternatives:
# PySide2  # use instead of PyQt5 if preferred
